{{> header}}
{{> nav}}

<div id="layoutSidenav">
    {{> sidenav}}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Board</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Board</li>
                </ol>
                <ul class="list-group">
                    {{#boardList}}
                        <li class="list-group-item">
                            <h4 class="mb-2"><a href="/board/{{boardId}}">제목 : {{title}}</a></h4>
                            <small class="text-muted">Board ID : {{boardId}}</small>
                        </li>
                    {{/boardList}}
                    <a href="/board/new">Create News</a>
                </ul>
            </div>
        </main>
        {{> footer}}
    </div>
</div>
</body>
</html>