/**폰트 설정**/
@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ELAND_Choice_M';
}