<div class="container mt-4">
    {{#board}}
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title">Title : {{title}}</h2>
            </div>
            <div class="card-body">
                <strong><h2>Content</h2></strong>
                <p class="card-text">: {{content}}</p>
                <hr>
                {{>comment/new}}
                {{>comment/list}}
            </div>
            <div class="card-footer">
                <a href="/board/{{boardId}}/edit" class="btn btn-secondary">Edit</a>
                <a href="/board/{{boardId}}/delete" class="btn btn-danger">Delete</a>
                <a href="/board/list">Board List</a>
            </div>
        </div>
    {{/board}}
</div>