<div class="container mt-4">
    {{#board}}
        <div class="blog-post mb-4">
            <h2 class="blog-post-title">{{title}}</h2>
            <hr>
            <p class="blog-post-content">{{content}}</p>
            <hr>
        </div>
    {{/board}}
    <a href="/board/list">Board List</a>
</div>
