{{> header}}
{{> nav}}

<link rel="stylesheet" href="/css/emergencyReport.css">
<script src="/js/emergencyReport.js"></script>

<div id="layoutSidenav">
    {{> sidenav}}
    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="form-container">
                    <h2 class="text-center title lexend-deca-Medium">Emergency Call</h2>
                    <div id="record" class="text-center mb-3">
                        <div class="Rec" id="Rec">
                            <i class="fas fa-microphone fa-3x"></i>
                        </div>
                    </div>
                    <form action="recommend_hospital" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" class="form-control" id="navercount" name="navercount" value="3" required>
                        <label for="text" class="form-label subTitle">상황 설명</label>
                        <textarea class="form-control custom_box" id="text" name="text" rows="3" required></textarea>

                        <!-- 위도와 경도 입력 박스 및 버튼 추가 -->
                        <div class="row mb-3 align-items-center">
                            <div class="col">
                                <label for="lat" class="form-label subTitle">위도</label>
                                <input type="text" class="form-control custom_box" id="lat" name="lat" placeholder="위도를 입력하세요" required>
                            </div>
                            <div class="col">
                                <label for="lon" class="form-label subTitle">경도</label>
                                <input type="text" class="form-control custom_box" id="lon" name="lon" placeholder="경도를 입력하세요" required>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-transparent" id="getLocation" > <!-- 버튼 크기 조정 -->
                                    <i class="fa-solid fa-location-crosshairs" style="padding: 6px 10px; font-size: 45px; margin-top:20px;"></i> <!-- 아이콘 색상 변경 -->
                                </button>
                            </div>
                        </div>

                        <!-- 추천 받을 병원 개수 선택하는 콤보박스 추가 -->
                        <div class="row mb-3 align-items-center">
                            <div class="col">
                                <label for="hospitalCount" class="form-label subTitle">추천받을 병원 개수</label>
                            </div>
                            <div class="col-auto">
                                <select class="form-control custom_box" id="hospitalCount" name="hospitalCount">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn w-100 subTitle customButton">제출</button>
                    </form>
                </div>
            </div>
        </main>
        {{> footer}}
    </div>
</div>
</body>
</html>
