<!-- footer.mustache -->
<footer class="py-2 bg-light mt-auto"> <!-- 높이를 줄이기 위해 py-4를 py-2로 변경 -->
    <div class="container-fluid px-4">
        <div class="d-flex justify-content-center small"> <!-- 가운데 정렬을 위해 align-items-center를 제거하고 justify-content-center 추가 -->
            <div class="text-muted text-center"> <!-- text-center 클래스를 추가하여 텍스트를 가운데 정렬 -->
                &copy; 2024 Aivle AI 트랙 02반 06조 | All rights reserved
            </div>
        </div>
    </div>
</footer>