
<!-- sidenav.mustache -->
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Service</div>
                <a class="nav-link" href="{{baseUrl}}/emergencyReport">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-hospital"></i></div>
                    응급 상황 신고
                </a>
                <div class="sb-sidenav-menu-heading">board</div>
                <a class="nav-link" href="{{baseUrl}}/board/list" >
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-clipboard"></i></div>
                    게시판 목록
                </a>
                <a class="nav-link" href="{{baseUrl}}/board/new">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-pen-to-square"></i></div>
                    새 게시글 작성
                </a>
                <div class="sb-sidenav-menu-heading">Admin</div>
                <a class="nav-link" href="{{baseUrl}}/admin">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-lock"></i></div>
                    관리자 조회
                </a>
                <!-- 나머지 사이드 네비게이션 메뉴 -->
            </div>
        </div>
<!--        <div class="sb-sidenav-footer">-->
<!--            <div class="small">Logged in as:</div>-->
<!--            {{username}}-->
<!--        </div>-->
    </nav>
</div>